.assistant-container {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
}

.assistant-container input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.assistant-results {
    white-space: pre-wrap;
    position: absolute;
    top: 150%;
    left: -30vw;
    right: -30vw;
    background-color: black;
    color: white;
    padding: 10px;
    z-index: 1000;
    border-radius: 5px;
}
